In [102]:
import pandas as pd

departments = pd.read_csv('.\\datos\\manducare\\departments.csv', sep=',', encoding="ISO-8859-1")
orders = pd.read_csv('.\\datos\\manducare\\orders.csv', sep=',', encoding="ISO-8859-1")
orderProducts = pd.read_csv('.\\datos\\manducare\\order_products.csv', sep=',', encoding="ISO-8859-1")
products = pd.read_csv('.\\datos\\manducare\\products.csv', sep=',', encoding="ISO-8859-1")

dfTest = pd.merge(orders, orderProducts, on="order_id")

In [103]:
orders.head()
departments.head()

  department  department_id
0     frozen              1
1      other              2
2     bakery              3
3    produce              4
4    alcohol              5

In [104]:
orderProducts.head()

   order_id  product_id
0         1       49302
1         1       11109
2         1       10246
3         1       49683
4         1       43633

In [105]:
dfTest = dfTest.drop(columns = ["order_id","order_number","user_id"])
dfDaysAverage = dfTest.groupby("product_id").mean()
dfQuantity = dfTest.groupby("product_id").count()

In [106]:
dfDaysAverage = dfDaysAverage[dfDaysAverage["days_since_prior_order"] > 0]
dfDaysAverage.sort_values("days_since_prior_order")

            days_since_prior_order
product_id
1923                           0.5
27046                          0.5
8839                           0.5
24646                          0.5
6220                           0.5
...                            ...
46930                         30.0
43934                         30.0
6823                          30.0
37556                         30.0
24638                         30.0

[38978 rows x 1 columns]

In [107]:
dfQuantity = dfQuantity.sort_values("days_since_prior_order").rename(columns={"days_since_prior_order": "Quantity"})

In [108]:
dfQuantity.head()

            Quantity
product_id
24836              1
8005               1
29566              1
8001               1
29560              1

In [112]:
dfTotal= pd.merge(dfQuantity,dfDaysAverage,on="product_id")

In [113]:
dfTotal.head()

            Quantity  days_since_prior_order
product_id
24836              1                    13.0
8005               1                     6.0
29566              1                    14.0
8001               1                    30.0
29560              1                    28.0

In [116]:
dfTotal = dfTotal.drop(dfTotal[dfTotal.Quantity == 1].index)

In [123]:
dfTotal.Quantity.mean()
dfTotal

            Quantity  days_since_prior_order
product_id
22778              2               11.500000
18223              2               20.500000
21455              2               30.000000
25585              2                9.500000
22014              2                8.500000
...              ...                     ...
47626           8135               17.578980
21903           9784               17.115290
21137          10894               15.446760
13176          15480               15.742894
24852          18726               16.712165

[31238 rows x 2 columns]

In [214]:
dfSmaller = dfTotal.iloc[: 12456]
dfSmaller.sort_values("days_since_prior_order")

            Quantity  days_since_prior_order
product_id
8839               2                     0.5
6220               2                     0.5
1923               2                     0.5
27046              2                     0.5
24646              2                     0.5
...              ...                     ...
43969              2                    30.0
11912              2                    30.0
16646              3                    30.0
48893              2                    30.0
7298               2                    30.0

[12456 rows x 2 columns]

In [215]:
dfSmall = dfTotal.iloc[12456: 24364:]
dfSmall.sort_values("days_since_prior_order")

            Quantity  days_since_prior_order
product_id
32607              6                3.500000
15409              6                3.666667
32874              6                5.000000
9556               8                5.125000
48095              6                5.166667
...              ...                     ...
17357              6               29.666667
19946              6               29.833333
28952              7               30.000000
5821               6               30.000000
4771               6               30.000000

[11908 rows x 2 columns]

In [183]:
dfMedium = dfTotal.iloc[24364: 29543:]
dfMedium.sort_values("days_since_prior_order")

            Quantity  days_since_prior_order
product_id
22123             30               16.133333
48112             30               19.933333
23592             30               17.366667
13018             30               17.900000
36313             30               17.433333
...              ...                     ...
9558             144               16.770833
21847            144               17.208333
11109            144               17.402778
47402            144               14.194444
4357             144               15.951389

[5179 rows x 2 columns]

In [196]:
dfBig = dfTotal.iloc[29543: 31015]
dfBig.sort_values("days_since_prior_order")

            Quantity  days_since_prior_order
product_id
23630            145               16.848276
13640            145               14.144828
45679            145               17.917241
38730            145               15.406897
23803            145               15.317241
...              ...                     ...
39993            708               18.857345
25931            710               17.183099
42450            712               17.712079
20119            714               17.386555
19048            715               16.883916

[1472 rows x 2 columns]

In [210]:
dfBigger = dfTotal.iloc[31015:]
dfBigger.sort_values("days_since_prior_order")

            Quantity  days_since_prior_order
product_id
37067           2332               14.232419
5212             854               14.610070
26940            730               14.749315
47630            796               14.996231
19057           2891               15.046005
...              ...                     ...
13535            723               18.554633
44683           1149               18.576153
32689            988               18.589069
44142           1468               19.024523
49683           2413               20.516370

[223 rows x 2 columns]