In [6]:
import pandas as pd
import numpy as np
departments = pd.read_csv('.\\data\\departments.csv', sep=',', encoding="ISO-8859-1")
products = pd.read_csv('.\\data\\products.csv', sep=',', encoding="ISO-8859-1")
mergedOrders = pd.read_csv('.\\data\\mergedOrders.csv', sep=',', encoding="ISO-8859-1")
orders1 = pd.read_csv('.\\data\\orders.csv', sep=',', encoding="ISO-8859-1")

In [164]:
products.head()
departments.head()
mergedOrders.head()

,Unnamed: 0,order_id,product_id,reordered,user_id,days_since_prior_order
0,0,8,23423,1,3107,17.0
1,1,40,10070,1,382,23.0
2,2,40,42450,1,382,23.0
3,3,40,33198,1,382,23.0
4,4,40,34866,1,382,23.0

In [253]:
#mergedOrders = mergedOrders.drop(columns = ["order_id"])
dfDaysAverage = mergedOrders.groupby("product_id").mean()
dfDaysAverage.sort_values("days_since_prior_order").dropna()
dfDaysAverage = dfDaysAverage.drop(columns=["Unnamed: 0","order_id","reordered","user_id"])
dfDaysAverage = dfDaysAverage.rename(columns={"days_since_prior_order": "mediaEcompras"})
dfDaysAverage = dfDaysAverage[dfDaysAverage["mediaEcompras"] > 0]
dfDaysAverage['product_id'] = dfDaysAverage.index
dfDaysAverage.head()

            mediaEcompras  product_id
product_id
1               12.333333           1
2               20.500000           2
3               19.250000           3
4               12.000000           4
7               10.666667           7

In [254]:
dfQuantity = mergedOrders.groupby("product_id").count()
dfQuantity = dfQuantity.drop(columns=["Unnamed: 0","order_id","reordered","days_since_prior_order"]).reset_index()
dfQuantity = dfQuantity.rename(columns={"user_id": "cantitatMitjaProductes"})
dfQuantity = dfQuantity.sort_values('cantitatMitjaProductes')
dfQuantity['product_id'] = dfQuantity.index
dfQuantity.head()

       product_id  cantitatMitjaProductes
20144       20144                       1
28037       28037                       1
13241       13241                       1
13242       13242                       1
13243       13243                       1

In [255]:
allMergedOrders = mergedOrders
aux = allMergedOrders.groupby( [ "user_id", "product_id"] ).size().to_frame(name = 'total').reset_index()
allMergedOrders = allMergedOrders.groupby( [ "product_id", "user_id"] ).mean().reset_index()
allMergedOrders = allMergedOrders.drop(columns=["Unnamed: 0","order_id","reordered"]).reset_index()
allMergedOrders = pd.merge(aux,allMergedOrders, on=[ "user_id", "product_id"])
allMergedOrders = allMergedOrders.rename(columns={"days_since_prior_order": "media_usuarioEcompras"})
allMergedOrders = allMergedOrders.drop(columns=["index"])
allMergedOrders.head()

   user_id  product_id  total  media_usuarioEcompras
0        1         196     11              19.000000
1        1       10258     10              19.000000
2        1       10326      1              28.000000
3        1       12427     10              19.555556
4        1       13032      4              19.750000

In [262]:
dfProva = allMergedOrders
#dfProva = dfProva.groupby(["user_id",'product_id']).agg({'product_id':['mean', 'median']})
#dfProva['puntuacio'] = dfProva.age * dfProva.bmi
#dfProva = dfProva.groupby( [ "user_id", "product_id"] ).size().to_frame(name = 'total').reset_index()
dfProva =  pd.merge(dfProva, dfQuantity, on="product_id")
dfProva =  pd.merge(dfProva, dfDaysAverage, on="product_id")
dfProva['puntCant'] = np.where(dfProva.total > dfProva.cantitatMitjaProductes, 5, dfProva.total-dfProva.cantitatMitjaProductes+5)
dfProva['punTemps'] = np.where(dfProva.media_usuarioEcompras > dfProva.mediaEcompras, 0, 5)
dfProva['punTotal'] = np.where(dfProva.media_usuarioEcompras > dfProva.mediaEcompras, dfProva.puntCant+, 5)
dfProva

C:\Users\Joan\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2961: FutureWarning: 'product_id' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  exec(code_obj, self.user_global_ns, self.user_ns)

,user_id,product_id,total,media_usuarioEcompras,cantitatMitjaProductes,mediaEcompras,puntCant,punTemps
0,1,196,11,19.000000,9,12.160839,5,0
1,15,196,5,8.600000,9,12.160839,1,5
2,19,196,3,6.666667,9,12.160839,-1,5
3,21,196,1,6.000000,9,12.160839,-3,5
4,31,196,2,7.500000,9,12.160839,-2,5
5,43,196,2,3.500000,9,12.160839,-2,5
6,52,196,14,9.538462,9,12.160839,5,5
7,67,196,20,7.526316,9,12.160839,5,5
8,81,196,2,22.000000,9,12.160839,-2,0
9,82,196,9,11.500000,9,12.160839,5,5
10,98,196,7,20.428571,9,12.160839,3,0
11,109,196,1,9.000000,9,12.160839,-3,5
12,120,196,2,19.000000,9,12.160839,-2,0
13,185,196,1,25.000000,9,12.160839,-3,0
14,195,196,12,3.363636,9,12.160839,5,5
15,222,196,2,1.000000,9,12.160839,-2,5
16,290,196,2,6.500000,9,12.160839,-2,5
17,331,196,1,30.000000,9,12.160839,-3,0
18,360,196,1,NaN,9,12.160839,-3,5
19,377,196,1,3.000000,9,12.160839,-3,5
20,387,196,1,22.000000,9,12.160839,-3,0
21,420,196,2,23.000000,9,12.160839,-2,0
22,423,196,2,7.000000,9,12.160839,-2,5
23,546,196,1,23.000000,9,12.160839,-3,0
24,591,196,1,7.000000,9,12.160839,-3,5
25,626,196,10,3.700000,9,12.160839,5,5
26,642,196,1,4.000000,9,12.160839,-3,5
27,676,196,8,22.625000,9,12.160839,4,0
28,680,196,1,5.000000,9,12.160839,-3,5
29,691,196,3,12.666667,9,12.160839,-1,0
...,...,...,...,...,...,...,...,...
245267,6000,17069,1,20.000000,1,20.000000,5,5
245268,6000,19787,1,6.000000,1,6.000000,5,5
245269,6000,23747,2,13.000000,16,13.000000,-9,5
245270,6002,11567,1,15.000000,87,15.000000,-81,5
245271,6002,20204,1,4.000000,20,4.000000,-14,5
245272,6003,4768,1,30.000000,29,30.000000,-23,5
245273,6009,1341,1,9.000000,3,9.000000,3,5
245274,6009,28867,1,9.000000,2,9.000000,4,5
245275,6010,1249,11,11.090909,4,11.090909,5,5
245276,6015,6696,2,5.000000,1,5.000000,5,5
245277,6015,14404,6,10.166667,95,10.166667,-84,5
245278,6015,23129,1,8.000000,6,8.000000,0,5
245279,6015,23419,1,7.000000,24,7.000000,-18,5
245280,6015,25750,1,8.000000,7,8.000000,-1,5
245281,6015,27484,3,10.666667,2,10.666667,5,5
245282,6015,28948,1,2.000000,3,2.000000,3,5
245283,6018,29080,1,30.000000,1,30.000000,5,5
245284,6020,13757,2,21.000000,12,21.000000,-5,5
245285,6020,23682,1,30.000000,2,30.000000,4,5
245286,6023,18395,1,26.000000,1,26.000000,5,5
245287,6025,11982,1,23.000000,1,23.000000,5,5
245288,6025,19292,1,5.000000,1,5.000000,5,5
245289,6035,7310,1,3.000000,30,3.000000,-24,5
245290,6036,8537,1,5.000000,1,5.000000,5,5
245291,6038,2113,1,24.000000,42,24.000000,-36,5
245292,6038,4078,1,5.000000,39,5.000000,-33,5
245293,6038,19526,1,15.000000,2,15.000000,4,5
245294,6038,20096,2,7.500000,1,7.500000,5,5
245295,6043,21628,1,30.000000,4,30.000000,2,5
245296,6044,13199,1,15.000000,18,15.000000,-12,5

In [263]:

dfTotal = dfQuantity
dfTotal = pd.merge(dfDaysAverage, dfTotal, on="product_id")

C:\Users\Joan\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2961: FutureWarning: 'product_id' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  exec(code_obj, self.user_global_ns, self.user_ns)

In [264]:
#dfTotal = dfTotal.drop(dfTotal[dfTotal.days_since_prior_order == 1].index)

In [265]:
dfTotal = dfTotal.sort_values("cantitat_productes")
dfTotal

KeyError: 'cantitat_productes'

In [266]:
dfSmaller = dfTotal.iloc[: 16305]
productsSmaller = list(dfSmaller.index)
dfSmaller.sort_values("media_entre_compras")

KeyError: 'media_entre_compras'

In [267]:
dfSmall = dfTotal.iloc[16305: 24364:]
productsSmall = list(dfSmall.index)
dfSmall.sort_values("days_since_prior_order")

KeyError: 'days_since_prior_order'

In [268]:
dfMedium = dfTotal.iloc[24364: 29543:]
productsMedium = list(dfMedium.index)
dfMedium.sort_values("days_since_prior_order")

KeyError: 'days_since_prior_order'

In [269]:
dfBig = dfTotal.iloc[29543: 31015]
productsBig = list(dfBig.index)
dfBig.sort_values("days_since_prior_order")

KeyError: 'days_since_prior_order'

In [270]:
dfBigger = dfTotal.iloc[31015:]
productsBigger = list(dfBigger.index)
dfBigger.sort_values("days_since_prior_order")

KeyError: 'days_since_prior_order'

In [ ]:
dfBigger.sort_values("days_since_prior_order")