In [19]:
import pandas as pd
import numpy as np
departments = pd.read_csv('./data/departments.csv', sep=',', encoding="ISO-8859-1")
products = pd.read_csv('./data/products.csv', sep=',', encoding="ISO-8859-1")
usefullProducts = pd.read_csv('./data/usefullProducts.csv', sep=',', encoding="ISO-8859-1")
mergedOrders = pd.read_csv('./data/mergedOrders.csv', sep=',', encoding="ISO-8859-1")
orders1 = pd.read_csv('./data/orders.csv', sep=',', encoding="ISO-8859-1")
usefullProducts

,Unnamed: 0,department_id,product_id,product_name
0,0,19,1,Chocolate Sandwich Cookies
1,3,1,4,Smart Ones Classic Favorites Mini Rigatoni Wit...
2,9,7,10,Sparkling Orange Juice & Prickly Pear Beverage
3,10,7,11,Peach Mango Juice
4,22,12,23,Organic Turkey Burgers
5,24,19,25,Salted Caramel Lean Protein & Fiber Bar
6,25,8,26,Fancy Feast Trout Feast Flaked Wet Cat Food
7,27,14,28,Wheat Chex Cereal
8,28,15,29,Fresh Cut Golden Sweet No Salt Added Whole Ker...
9,33,14,34,Peanut Butter Cereal
10,34,12,35,Italian Herb Porcini Mushrooms Chicken Sausage
11,36,15,37,Noodle Soup Mix With Chicken Broth
12,42,4,43,Organic Clementines
13,43,7,44,Sparkling Raspberry Seltzer
14,44,4,45,European Cucumber
15,48,20,49,Vegetarian Grain Meat Sausages Italian - 4 CT
16,53,8,54,24/7 Performance Cat Litter
17,56,17,57,Flat Toothpicks
18,62,18,63,Banana & Sweet Potato Organic Teething Wafers
19,65,4,66,European Style Spring Mix
20,69,6,70,Sweet Cooking Rice Seasoning
21,76,19,77,Coconut Chocolate Chip Energy Bar
22,78,15,79,Wild Albacore Tuna No Salt Added
23,82,3,83,100% Whole Wheat Pita Bread
24,86,7,87,Classics Earl Grey Tea
25,92,19,93,Uncured Cracked Pepper Beef
26,93,18,94,Organic Blueberry Blitz Fruit & Veggie Smoothi...
27,94,6,95,Organic Rice Vinegar
28,95,13,96,Sprinklez Confetti Fun Organic Toppings
29,96,7,97,Organic Chamomile Lemon Tea
...,...,...,...,...
8757,30974,7,30975,Raspberry Lime Seltzer
8758,30977,19,30978,"Dry Roasted, Spicy Organic Pumpkin Seeds"
8759,30984,19,30985,Sea Salt Snack Crackers
8760,30988,15,30989,Spam Original Luncheon Meat
8761,30993,1,30994,Talenti Double Dark Chocolate Gelato
8762,30994,16,30995,Creme Fraiche French Cultured Cream
8763,30995,16,30996,Black Truffle Goat Cheese Log
8764,30998,19,30999,Layered Dark Chocolate Coconut Granola Bars
8765,31001,11,31002,Quattro For Women Disposable Razor
8766,31002,21,31003,Broccoli Bunch
8767,31014,14,31015,Old Country Style Muesli Cereal
8768,31019,13,31020,Organic Honey Grade A
8769,31021,19,31022,Original Kettle Cooked Potato Chips
8770,31026,11,31027,Spicy Yuba Noodles
8771,31035,5,31036,Crisp Hard Cider Crisp Apple
8772,31039,19,31040,Sea Salt Pita Chips
8773,31040,14,31041,Envirokidz Chocolate Koala Crisp
8774,31041,16,31042,Plain Icelandic Style Skyr 4% milkfat Yogurt
8775,31042,11,31043,Ultra Thin Regular Pads wth Wings
8776,31058,11,31059,Repair & Protect Toothpaste for Sensitive Teeth
8777,31059,17,31060,Dinner Plates
8778,31065,17,31066,Aluminum Foil
8779,31066,4,31067,Watermelon
8780,31072,4,31073,Organic Bunch Arugula
8781,31073,11,31074,Organic Cotton Tampons
8782,31074,13,31075,Dark Chocolate Morsels
8783,31075,7,31076,Tumeric Golden Milk Elixir
8784,31080,5,31081,"Ale, India Pale, Brew Free! Or Die IPA"
8785,31085,3,31086,Whole Wheat Pita
8786,31086,15,31087,Whole Kernel Corn No Salt Added

In [7]:
products.head()
#departments.head()
#mergedOrders.head()
mergedOrders1 = mergedOrders.drop(columns=["Unnamed: 0","reordered","user_id","days_since_prior_order"])#.groupby("product_id").count()
mergedOrders1 = mergedOrders1.rename(columns={"order_id":"cuantitat"})
mergedOrders1.head()

   cuantitat  product_id
0          8       23423
1         40       10070
2         40       42450
3         40       33198
4         40       34866

In [8]:

mergedOrders1 = mergedOrders1.groupby("product_id").count()
mergedOrders1 = mergedOrders1[mergedOrders1["cuantitat"] > 2]
dfporductsQuantity = pd.merge(usefullProducts,mergedOrders1, on="product_id")
dfporductsQuantity = dfporductsQuantity.drop(columns=["Unnamed: 0"])
dfporductsQuantity = dfporductsQuantity.sort_values("cuantitat", ascending=False)
dfporductsQuantity

,department_id,product_id,product_name,cuantitat
7002,4,24852,Banana,13433
3706,4,13176,Bag of Organic Bananas,11437
5972,4,21137,Organic Strawberries,8182
6188,4,21903,Organic Baby Spinach,7115
7889,4,27966,Organic Raspberries,4588
4741,4,16797,Strawberries,4360
7394,4,26209,Limes,4315
7852,16,27845,Organic Whole Milk,4272
7034,4,24964,Organic Garlic,3312
6480,4,22935,Organic Yellow Onion,3246
1642,4,5876,Organic Lemon,2575
8581,4,30391,Organic Cucumber,2553
7946,4,28204,Organic Fuji Apple,2547
2325,4,8277,Apple Honeycrisp Organic,2488
1357,4,4920,Seedless Red Grapes,2433
5030,4,17794,Carrots,2344
7650,4,27104,Fresh Cauliflower,2242
5399,4,19057,Organic Large Extra Fancy Fuji Apple,2194
1273,4,4605,Yellow Onions,2131
8604,20,30489,Original Hummus,2111
7644,16,27086,Half & Half,2111
8178,4,28985,Michigan Organic Kale,2093
2393,4,8518,Organic Red Onion,2056
6113,4,21616,Organic Baby Arugula,2051
7513,4,26604,Organic Blackberries,1988
6225,16,22035,Organic Whole String Cheese,1919
1413,3,5077,100% Whole Wheat Bread,1825
3017,4,10749,Organic Red Bell Pepper,1814
6829,4,24184,Red Peppers,1768
6198,4,21938,Green Bell Pepper,1710
...,...,...,...,...
7969,13,28284,Unprocessed Miller's Wheat Bran,4
6964,16,24716,"Eggs, Free Range, Brown, Large",4
6476,19,22925,Original Fruit Candies,4
512,17,1853,"Fabric Softener Dryer Sheets, Outdoor Fresh scent",4
7009,19,24881,Barnum's Animal Crackers,4
5243,7,18543,Organic Nettle Leaf Tea Bags,4
3327,13,11870,Salsa Con Queso With Smoked Jalapeno Medium,4
3299,9,11764,Linguine Fini Pasta,4
3816,17,13549,Lavender Scent Surface Scrub,4
2415,7,8596,Lemonade Drink Mix,4
7875,2,27936,The Original Margarita Mix,4
8497,7,30069,Organic Echinacea Plus Elderberry Tea,4
4419,16,15629,Wine Infused Salame Cheese and Crackers Small ...,4
1599,19,5723,Popped Corn Chips Kettle,4
7044,3,24995,Egg,4
3830,17,13619,Outdoor Fresh Fabric Softener Dryer Sheets,4
4403,18,15578,Kids Very Emollient Sunscreen SPF 45,4
5772,11,20429,Temporal Scanner Infrared Thermometer,4
2389,17,8505,Giant Foil Lasagna Pan,4
5234,13,18508,Whole Organic Allspice,4
5236,11,18529,"Towelettes, Make Up Removing, Face",4
1148,13,4167,Organic Green Goddess Dressing,4
8476,9,29990,Angel Hair,4
1150,12,4169,Original Pork Sausage,4
7017,16,24915,Cheddar Extra Sharp Made with 2% Milk Cheese S...,4
2943,13,10480,"Aioli, Roasted Garlic",4
5765,1,20404,Mint Chip Almond Milk Non-Dairy Frozen Dessert,4
4375,11,15470,Adult Allergy Relief Tablets 10mg,4
4373,9,15463,Tagliatelle Nests,4
2661,11,9432,Deodorant Antiperspirant Gel- Lavender Scent,4

In [9]:
dfporductsQuantity.to_csv("productsQuantity.csv")

In [8]:
#mergedOrders = mergedOrders.drop(columns = ["order_id"])
dfDaysAverage = mergedOrders.groupby("product_id").mean()
dfDaysAverage.sort_values("days_since_prior_order").dropna()
dfDaysAverage = dfDaysAverage.drop(columns=["Unnamed: 0","order_id","reordered","user_id"])
dfDaysAverage = dfDaysAverage.rename(columns={"days_since_prior_order": "mediaEcompras"})
dfDaysAverage = dfDaysAverage[dfDaysAverage["mediaEcompras"] > 0]
dfDaysAverage['product_id'] = dfDaysAverage.index
dfDaysAverage.head()

            mediaEcompras  product_id
product_id
1               12.333333           1
2               20.500000           2
3               19.250000           3
4               12.000000           4
7               10.666667           7

In [4]:
dfQuantity = mergedOrders.groupby("product_id").count()
dfQuantity = dfQuantity.drop(columns=["Unnamed: 0","order_id","reordered","days_since_prior_order"]).reset_index()
dfQuantity = dfQuantity.rename(columns={"user_id": "cantitatMitjaProductes"})
dfQuantity = dfQuantity.sort_values('cantitatMitjaProductes')
dfQuantity['product_id'] = dfQuantity.index
dfQuantity.head()

       product_id  cantitatMitjaProductes
20144       20144                       1
28037       28037                       1
13241       13241                       1
13242       13242                       1
13243       13243                       1

In [5]:
allMergedOrders = mergedOrders
aux = allMergedOrders.groupby( [ "user_id", "product_id"] ).size().to_frame(name = 'total').reset_index()
allMergedOrders = allMergedOrders.groupby( [ "product_id", "user_id"] ).mean().reset_index()
allMergedOrders = allMergedOrders.drop(columns=["Unnamed: 0","order_id","reordered"]).reset_index()
allMergedOrders = pd.merge(aux,allMergedOrders, on=[ "user_id", "product_id"])
allMergedOrders = allMergedOrders.rename(columns={"days_since_prior_order": "media_usuarioEcompras"})
allMergedOrders = allMergedOrders.drop(columns=["index"])
allMergedOrders.head()

   user_id  product_id  total  media_usuarioEcompras
0        1         196     11              19.000000
1        1       10258     10              19.000000
2        1       10326      1              28.000000
3        1       12427     10              19.555556
4        1       13032      4              19.750000

In [6]:
def puntTemps(df):
    a2 = df['mediaEcompras'] / 2

    if df['media_usuarioEcompras'] <= df['mediaEcompras']: 
        return 5
    elif df['media_usuarioEcompras'] < df['mediaEcompras'] + a2:
        return 3
    else: 
        return 1

def puntQuant(df):
    a2 = df['cantitatMitjaProductes'] / 2
    
    if df['total'] < a2: 
        return 1
    elif df['total'] < df['cantitatMitjaProductes']:
        return 3
    else: 
        return 5

In [7]:
dfDaysAverage.index.name = None
dfProva = allMergedOrders
#dfProva = dfProva.groupby(["user_id",'product_id']).agg({'product_id':['mean', 'median']})
#dfProva['puntuacio'] = dfProva.age * dfProva.bmi
#dfProva = dfProva.groupby( [ "user_id", "product_id"] ).size().to_frame(name = 'total').reset_index()
dfProva =  pd.merge(dfProva, dfQuantity, on="product_id")
dfProva =  pd.merge(dfProva, dfDaysAverage, on="product_id")
dfProva['punCant'] = dfProva.apply(puntQuant,axis=1)
dfProva['punTemps'] = dfProva.apply(puntTemps,axis=1)
dfProva['punTotal'] = dfProva.punTemps + dfProva.punCant
dfProva

,user_id,product_id,total,media_usuarioEcompras,cantitatMitjaProductes,mediaEcompras,punCant,punTemps,punTotal
0,1,196,11,19.000000,9,12.160839,5,1,6
1,15,196,5,8.600000,9,12.160839,3,5,8
2,19,196,3,6.666667,9,12.160839,1,5,6
3,21,196,1,6.000000,9,12.160839,1,5,6
4,31,196,2,7.500000,9,12.160839,1,5,6
...,...,...,...,...,...,...,...,...,...
245292,6038,4078,1,5.000000,39,5.000000,1,5,6
245293,6038,19526,1,15.000000,2,15.000000,3,5,8
245294,6038,20096,2,7.500000,1,7.500000,5,5,10
245295,6043,21628,1,30.000000,4,30.000000,1,5,6
245296,6044,13199,1,15.000000,18,15.000000,1,5,6

In [8]:
dfTotal = dfQuantity
dfTotal = pd.merge(dfDaysAverage, dfTotal, on = "product_id")

In [9]:
dfTotal = dfTotal.sort_values('cantitatMitjaProductes')
dfTotal

       mediaEcompras  product_id  cantitatMitjaProductes
12369       9.125000       20334                       1
11605      13.500000       19025                       1
11611      26.000000       19032                       1
11612      11.600000       19033                       1
4279       20.666667        7046                       1
...              ...         ...                     ...
18280      15.000000       29910                    5065
18054      14.335227       29553                    6813
8307       30.000000       13695                    7115
7992       23.000000       13191                    8182
4963        7.750000        8184                   11437

[18992 rows x 3 columns]

In [10]:
dfPuntUsuariTotal = dfProva.drop(columns=["total","media_usuarioEcompras","cantitatMitjaProductes", "mediaEcompras","punCant", "punTemps"])
dfPuntUsuariTotal

        user_id  product_id  punTotal
0             1         196         6
1            15         196         8
2            19         196         6
3            21         196         6
4            31         196         6
...         ...         ...       ...
245292     6038        4078         6
245293     6038       19526         8
245294     6038       20096        10
245295     6043       21628         6
245296     6044       13199         6

[245297 rows x 3 columns]

In [28]:
from sklearn.model_selection import train_test_split

ratings = dfPuntUsuariTotal
#train, test = train_test_split(ratings, test_size = 0.10)
#ratings = pd.merge(dfPuntUsuariTotal, test)


ratings[ratings['product_id'] == 15596]
ratings

        user_id  product_id  punTotal
0             1         196         6
1            15         196         8
2            19         196         6
3            21         196         6
4            31         196         6
...         ...         ...       ...
245292     6038        4078         6
245293     6038       19526         8
245294     6038       20096        10
245295     6043       21628         6
245296     6044       13199         6

[245297 rows x 3 columns]

In [67]:
ratingsaux =ratings.groupby('product_id').count().sort_values('user_id')
ratingsaux = ratingsaux[ratingsaux['user_id'] > 3]
#ratings2 = ratings[ratings['product_id'].isin(list(ratingsaux.index))]
#ratings2
print(len(list(ratingsaux.index)))
usefullProducts = products[products['product_id'].isin(list(ratingsaux.index))] 
usefullProducts.to_csv("usefullProducts.csv")

8787

In [52]:
userRatings = ratings2.pivot_table(index=['user_id'], columns=['product_id'], values='punTotal')

In [53]:
userRatings[196].dropna()

user_id
1       6.0
15      8.0
19      6.0
21      6.0
31      6.0
       ...
5844    6.0
5890    6.0
5920    6.0
5997    6.0
6041    6.0
Name: 196, Length: 244, dtype: float64

In [54]:
userRatings

product_id,1,4,10,11,23,25,26,28,29,34,...,31060,31066,31067,31073,31074,31075,31076,31081,31086,31087
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
corrMatrix = userRatings.corr(method='pearson', min_periods=1)
corrMatrix

product_id,1,4,10,11,23,25,26,28,29,34,...,31060,31066,31067,31073,31074,31075,31076,31081,31086,31087
product_id,,,,,,,,,,,,,,,,,,,,,
1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
31076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
31081,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
31086,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
31087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [56]:
corrMatrix.to_csv("MatrixBigger3.txt")

In [22]:
import pandas as pd
corrMatrix = pd.read_csv('MatrixBigger3.txt', sep=',', encoding="ISO-8859-1")
corrMatrix.head()

MemoryError:

In [ ]:
corrMatrix.columns.tolist()
corrMatrix[str(196)]

In [ ]:
#myRatings = userRatings.loc[0].dropna()
#myRatings
myRatings = {196: 10}
corrMatrix.index = corrMatrix["product_id"]
corrMatrix.drop(columns="product_id", inplace=True)
corrMatrix

In [ ]:
simCandidates = pd.Series()
print(simCandidates)
for key in myRatings:
    print ("Añadiendo productos similares a " + str(key) + "...")
    sims = corrMatrix[key].dropna()
    sims = sims.map(lambda x: x * myRatings[key])
    simCandidates = simCandidates.append(sims)

print ("ordenando...")
simCandidates.sort_values(inplace = True, ascending = False)
print (simCandidates.head(1000))

In [11]:
simCandidates = simCandidates.groupby(simCandidates.index).sum()
dfAuxCount = mergedOrders.groupby("product_id").count()
dfAuxCount["product_id"] = dfAuxCount.index
dfAuxCount = dfAuxCount[dfAuxCount['product_id'].isin(list(simCandidates.index))]
dfAuxCount
simCandidates = simCandidates.to_frame('puntuacio')
simCandidates["product_id"] = simCandidates.index

In [12]:
dfAuxCount = dfAuxCount.rename_axis(None)
dfFinal = pd.merge(simCandidates, dfAuxCount, on="product_id")
dfFinal= dfFinal.astype({'puntuacio': 'int32'})
dfFinal

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [13]:
#simCandidates= simCandidates.reset_index()
#dfAuxCount = dfAuxCount.reset_index()

dfFinal.sort_values(by=['puntuacio','cantitat'], ascending=[False,False])

NameError: name 'dfFinal' is not defined

In [14]:
dfAuxCount.drop(columns=["Unnamed: 0","order_id","reordered","days_since_prior_order"], inplace=True)
dfAuxCount.rename(columns={'user_id': 'cantitat'}, inplace=True)

In [15]:
dfAuxCount.sort_values

<bound method DataFrame.sort_values of Empty DataFrame
Columns: [cantitat, product_id]
Index: []>

In [16]:
simCandidates.sort_values(inplace = True, ascending = False)
simCandidates.head(10)
#items = simCandidates.items()
#for item in items:
#   print(item[0])

TypeError: sort_values() missing 1 required positional argument: 'by'

In [17]:
print(myRatings.keys())

NameError: name 'myRatings' is not defined

In [18]:
filteredSims = simCandidates.drop(myRatings.keys())
filteredSims.head(10)
#print(simCandidates.to_string())

NameError: name 'myRatings' is not defined