In [119]:
import pandas as pd
import numpy as np
departments = pd.read_csv('.\\data\\departments.csv', sep=',', encoding="ISO-8859-1")
#orders = pd.read_csv('.\\data\\orders.csv', sep=',', encoding="ISO-8859-1")
#orderProducts = pd.read_csv('.\\data\\order_products.csv', sep=',', encoding="ISO-8859-1")
products = pd.read_csv('.\\data\\products.csv', sep=',', encoding="ISO-8859-1")

#dfTest = pd.merge(orders, orderProducts, on="order_id")

In [120]:
orders11 = pd.read_csv('.\\rawData\\orders.csv', sep=',', encoding="ISO-8859-1")
orderProducts11 = pd.read_csv('.\\rawData\\order_products__train.csv', sep=',', encoding="ISO-8859-1")
orderProducts12 = pd.read_csv('.\\rawData\\order_products__prior.csv', sep=',', encoding="ISO-8859-1")

orders1 = orders11.drop(columns=['eval_set', 'order_number','order_dow','order_hour_of_day'])
orderProducts1 = orderProducts11.drop(columns=['add_to_cart_order'])
orderProducts2 = orderProducts12.drop(columns=['add_to_cart_order'])
orders1 = orders1.sort_values("user_id").head(100098)

mergedOrders = pd.merge(orderProducts1, orders1, on="order_id")

mergedOrders1 = pd.merge(orderProducts2, orders1, on="order_id")

mergedOrders=mergedOrders1.append(mergedOrders)
mergedOrders

       order_id  product_id  reordered  user_id  days_since_prior_order
0             8       23423          1     3107                    17.0
1            40       10070          1      382                    23.0
2            40       42450          1      382                    23.0
3            40       33198          1      382                    23.0
4            40       34866          1      382                    23.0
...         ...         ...        ...      ...                     ...
40224   3419642       24964          0      953                    30.0
40225   3419642       16616          1      953                    30.0
40226   3419642       12456          0      953                    30.0
40227   3419642       43376          1      953                    30.0
40228   3419642       26209          0      953                    30.0

[976702 rows x 5 columns]

In [121]:
#dfAux = pd.merge(orders, orderProducts, on="order_id")
mergedOrdersNoReordered = mergedOrders[(mergedOrders.reordered != 0)]
products.head()
departments.head()
mergedOrders

       order_id  product_id  reordered  user_id  days_since_prior_order
0             8       23423          1     3107                    17.0
1            40       10070          1      382                    23.0
2            40       42450          1      382                    23.0
3            40       33198          1      382                    23.0
4            40       34866          1      382                    23.0
...         ...         ...        ...      ...                     ...
40224   3419642       24964          0      953                    30.0
40225   3419642       16616          1      953                    30.0
40226   3419642       12456          0      953                    30.0
40227   3419642       43376          1      953                    30.0
40228   3419642       26209          0      953                    30.0

[976702 rows x 5 columns]

In [122]:
dfProva = mergedOrders
#dfProva = dfProva.drop(columns=['days_since_prior_order','order_id','order_number'])
dfProva = dfProva.groupby(["product_id",'user_id']).size()
dfProva

product_id  user_id
1           138        2
            709        1
            751        1
            764        2
            777        1
                      ..
49683       6016       1
            6019       5
            6025       1
            6030       1
            6043       1
Length: 398202, dtype: int64

In [137]:
#mergedOrders = mergedOrders.drop(columns = ["order_id"])
dfDaysAverage = mergedOrders.groupby("product_id").mean()
dfDaysAverage.sort_values("days_since_prior_order").dropna()

             order_id  reordered  user_id  days_since_prior_order
product_id
38528       3378442.0        0.0   5308.0                     0.0
15106        478180.0        0.0   1487.0                     0.0
49573       1765409.0        0.0     31.0                     0.0
4328        1522364.0        0.0   2850.0                     0.0
34960       1817059.0        0.0   3291.0                     0.0
...               ...        ...      ...                     ...
9559         909330.0        0.0    478.0                    30.0
11579       2796040.0        0.0   5907.0                    30.0
24688       2173405.0        0.0   2916.5                    30.0
2821        2613577.0        0.0   4200.0                    30.0
42821       1230442.0        0.0   3846.0                    30.0

[30432 rows x 4 columns]

In [138]:
dfQuantity = mergedOrders.groupby("product_id").count()
dfQuantity.sort_values('user_id')

            order_id  reordered  user_id  days_since_prior_order
product_id
32171              1          1        1                       1
44805              1          1        1                       1
21222              1          1        1                       0
21223              1          1        1                       1
21224              1          1        1                       1
...              ...        ...      ...                     ...
47209           6813       6813     6813                    6482
21903           7115       7115     7115                    6680
21137           8182       8182     8182                    7698
13176          11437      11437    11437                   10862
24852          13433      13433    13433                   12629

[31092 rows x 4 columns]

In [139]:
dfDaysAverage = dfDaysAverage[dfDaysAverage["days_since_prior_order"] > 0]
dfDaysAverage.sort_values("days_since_prior_order")

              order_id  reordered  user_id  days_since_prior_order
product_id
44394       1476185.25       0.00   4496.0                0.333333
19843        407935.50       0.50   3255.0                0.500000
9872        1568732.75       0.75   4441.0                0.500000
6346         978564.50       0.50   1427.0                0.500000
2865        2459849.50       0.50   2658.0                0.500000
...                ...        ...      ...                     ...
37441       3143956.00       0.00   4501.0               30.000000
2061        2202299.00       0.00   5755.0               30.000000
24953       2063941.00       0.00   2483.0               30.000000
18427        818904.00       0.00   4917.0               30.000000
20779       1454422.00       0.00   5812.0               30.000000

[30324 rows x 4 columns]

In [140]:
dfQuantity = dfQuantity.sort_values("days_since_prior_order")
dfQuantity

            order_id  reordered  user_id  days_since_prior_order
product_id
21159              1          1        1                       0
42619              1          1        1                       0
43884              1          1        1                       0
43870              1          1        1                       0
30259              1          1        1                       0
...              ...        ...      ...                     ...
47209           6813       6813     6813                    6482
21903           7115       7115     7115                    6680
21137           8182       8182     8182                    7698
13176          11437      11437    11437                   10862
24852          13433      13433    13433                   12629

[31092 rows x 4 columns]

In [141]:
dfTotal= pd.merge(dfQuantity,dfDaysAverage,on="product_id")

In [146]:
dfTotal = mergedOrders

In [149]:
dfTotal = dfTotal.drop(dfTotal[dfTotal.days_since_prior_order == 1].index)

In [152]:
dfTotal.days_since_prior_order.mean()
dfTotal

       order_id  product_id  reordered  user_id  days_since_prior_order
0             8       23423          1     3107                    17.0
1            40       10070          1      382                    23.0
2            40       42450          1      382                    23.0
3            40       33198          1      382                    23.0
4            40       34866          1      382                    23.0
...         ...         ...        ...      ...                     ...
40224   3419642       24964          0      953                    30.0
40225   3419642       16616          1      953                    30.0
40226   3419642       12456          0      953                    30.0
40227   3419642       43376          1      953                    30.0
40228   3419642       26209          0      953                    30.0

[947022 rows x 5 columns]

In [153]:
dfSmaller = dfTotal.iloc[: 12456]
productsSmaller = list(dfSmaller.index)
dfSmaller.sort_values("days_since_prior_order")

       order_id  product_id  reordered  user_id  days_since_prior_order
7956      29576       23032          1     4006                     0.0
3424      12460         196          1     4069                     0.0
6486      24010        6901          1     5588                     0.0
6487      24010        9007          1     5588                     0.0
6488      24010        2628          1     5588                     0.0
...         ...         ...        ...      ...                     ...
12819     48235        1782          0      274                     NaN
12820     48235       29750          0      274                     NaN
12821     48235        7603          0      274                     NaN
12822     48235       35297          0      274                     NaN
12823     48235       37606          0      274                     NaN

[12456 rows x 5 columns]

In [154]:
dfSmall = dfTotal.iloc[12456: 24364:]
productsSmall = list(dfSmall.index)
dfSmall.sort_values("days_since_prior_order")

       order_id  product_id  reordered  user_id  days_since_prior_order
13860     52183       24852          1     3255                     0.0
13863     52183       32727          1     3255                     0.0
13862     52183       40261          1     3255                     0.0
13861     52183       30731          1     3255                     0.0
22232     81649       47626          1     3896                     0.0
...         ...         ...        ...      ...                     ...
25107     90719       28849          0     5322                     NaN
25108     90748       12341          0     4241                     NaN
25109     90748       14088          0     4241                     NaN
25110     90748       20435          0     4241                     NaN
25111     90748       29921          0     4241                     NaN

[11908 rows x 5 columns]

In [155]:
dfMedium = dfTotal.iloc[24364: 29543:]
productsMedium = list(dfMedium.index)
dfMedium.sort_values("days_since_prior_order")

       order_id  product_id  reordered  user_id  days_since_prior_order
28661    104104       36046          1     4694                     0.0
28505    103550       11009          1     4138                     0.0
28675    104104        3465          1     4694                     0.0
26073     94710        8789          1     2396                     0.0
26072     94710       35752          0     2396                     0.0
...         ...         ...        ...      ...                     ...
30510    111041       22474          0     3653                     NaN
30511    111041       20574          0     3653                     NaN
30512    111041       45948          0     3653                     NaN
30513    111041       24062          0     3653                     NaN
30514    111041       16398          0     3653                     NaN

[5179 rows x 5 columns]

In [156]:
dfBig = dfTotal.iloc[29543: 31015]
productsBig = list(dfBig.index)
dfBig.sort_values("days_since_prior_order")

       order_id  product_id  reordered  user_id  days_since_prior_order
32136    116277       22825          1     2157                     2.0
32046    115931       23734          1     5334                     2.0
32047    115931       49353          0     5334                     2.0
30980    112698        4210          1      222                     2.0
30981    112698       27730          1      222                     2.0
...         ...         ...        ...      ...                     ...
32102    115980        8718          0     5647                     NaN
32103    115980       13176          0     5647                     NaN
32104    115980       33636          0     5647                     NaN
32132    116210       12341          0     4778                     NaN
32133    116210       13176          0     4778                     NaN

[1472 rows x 5 columns]

In [157]:
dfBigger = dfTotal.iloc[31015:]
productsBigger = list(dfBigger.index)
dfBigger.sort_values("days_since_prior_order")

        order_id  product_id  reordered  user_id  days_since_prior_order
532073   1946721       16221          0      537                     0.0
380382   1393436        9666          0     4563                     0.0
380381   1393436       21914          0     4563                     0.0
380380   1393436       23579          0     4563                     0.0
380379   1393436       13113          0     4563                     0.0
...          ...         ...        ...      ...                     ...
936402   3420523        2966          0     2475                     NaN
936403   3420523       26800          0     2475                     NaN
936404   3420523        8424          0     2475                     NaN
936405   3420523       28204          0     2475                     NaN
936406   3420523       30967          0     2475                     NaN

[916007 rows x 5 columns]

In [159]:
dfBigger.sort_values("days_since_prior_order")

        order_id  product_id  reordered  user_id  days_since_prior_order
532073   1946721       16221          0      537                     0.0
380382   1393436        9666          0     4563                     0.0
380381   1393436       21914          0     4563                     0.0
380380   1393436       23579          0     4563                     0.0
380379   1393436       13113          0     4563                     0.0
...          ...         ...        ...      ...                     ...
936402   3420523        2966          0     2475                     NaN
936403   3420523       26800          0     2475                     NaN
936404   3420523        8424          0     2475                     NaN
936405   3420523       28204          0     2475                     NaN
936406   3420523       30967          0     2475                     NaN

[916007 rows x 5 columns]